# fly.toml app configuration file generated for hourly-control-api on 2025-11-03T05:46:50-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'hourly-control-api'
primary_region = 'dfw'

[build]

[env]
  PORT = '8000'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1

[http_service.concurrency]
  soft = 20
  hard = 25
